<h2>Guess the color!</h2>
<div class="holder">
    <section class="first">
        <h2>Your result guess will be shown here</h2>
        <br>
        <div class="guess">
            <div class="color-guess">

            </div>
            <div class="input-guess">
                <input type="number" name="" id="" placeholder="red">
                <input type="number" name="" id="" placeholder="green">
                <input type="number" name="" id="" placeholder="blue">
            </div>
            <button type="button">Guess the color!</button>
        </div>
    </section>

    <section class="second">
        <h2>Guess this color</h2>
        <br>
        <div class="result">
            <div class="color-guess">

            </div>
            <div class="input-guess">
                <input type="number" name="" id="" placeholder="red" disabled>
                <input type="number" name="" id="" placeholder="green" disabled>
                <input type="number" name="" id="" placeholder="blue" disabled>
            </div>
            <button type="button">Randomize</button>
        </div>
    </section>
</div>