<h2>Guess the color!</h2>
<div class="holder">
    <section class="first">
        <h2>Your result guess will be shown here</h2>
        <br>
        <div class="guess">
            <div class="color-guess" [style.backgroundColor]="userGuessColor">

            </div>
            <div class="input-guess">
                <input type="number" [(ngModel)]="userRed" id="red" placeholder="red">
                <input type="number" [(ngModel)]="userGreen" id="green" placeholder="green">
                <input type="number" [(ngModel)]="userBlue" id="blue" placeholder="blue">
            </div>
            <button type="button" (click)="guess()">Guess the color!</button>
        </div>
    </section>

    <section class="second">
        <h2>Guess this color</h2>
        <br>
        <div class="result">
            <div class="color-guess" [style.backgroundColor]="randomizedColor">

            </div>
            <div class="input-guess">
                <input type="number" id="guess-red" [(ngModel)]="guessRed" placeholder="red" disabled>
                <input type="number" id="guess-green" [(ngModel)]="guessGreen" placeholder="green" disabled>
                <input type="number" id="guess-blue" [(ngModel)]="guessBlue" placeholder="blue" disabled>
            </div>
            <button type="button" (click)="randomize()">Randomize</button>
        </div>
    </section>
</div>